<% include ../partials/header %>
<div class="container">
<div class="jumbotron">
    <h1 class="display-3">Football Teams</h1>
    <p class="lead">By Nuttakorn</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/team" role="button">Let's get start</a>
    </p>
</div>
</div>
<% include ../partials/footer %>